[DESIGN]
# Maximum number of arguments for function / method
max-args=7

# Maximum number of positional arguments for function / method
max-positional-arguments=7

# Maximum number of locals for function / method body
max-locals=18
